body{
    background-image: url("../../Assets/images/zeel_pathak.jpeg");
    background-repeat: no-repeat;
    background-size : cover;
    /* background-position: center; */
    background-attachment: fixed;
}

@media only screen and (max-width: 650px) {
    body {
      background-position: center ;
    }
  }